<header class="header">
  <a href="/admin" class="header__logo">Admin panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <a
      href="<% if (locals.loggedin) { %>
     /logout
    <%  } else { %>/admin<%}%>"
    >
      <% if (locals.loggedin) { %> log out <% } else { %> sign in <%}%>
    </a>
  </div>
</header>
